---

interface Props {
  className?: string
  company: string
  location: string
  position: string
}

const undoInheritedGlobalParagraphStyle = {
  margin: 0,
}

const props: Props = Astro.props
---

<div class={`border-l-4 border-gray-300 px-4 text-xs ${props.className || ''}`}>
  <h5
    class='grid grid-flow-col grid-cols-[auto_auto] grid-rows-[1fr_0.5fr] items-center justify-between gap-x-4'
  >
    <p class='text-lg font-bold' style={undoInheritedGlobalParagraphStyle}>
      {props.company}
    </p>

    <p style={undoInheritedGlobalParagraphStyle}>{props.position}</p>

    <p
      class="justify-self-end space-x-1"
      style={undoInheritedGlobalParagraphStyle}
    >
      <slot name="time"></slot>
    </p>

    <address class='justify-self-end'>{props.location}</address>
  </h5>

  <div class='text-justify'><slot /></div>
</div>
